@charset "utf-8";

// If need, change your variables before importing Bulma
// colors
$primary: #09b4c6;
$info: #FFC72E;
$success: #DBE8EA;
$link: #17799D;
$danger: #df003c;

// body
$body-color: hsl(0, 0%, 100%);
// navbar
$navbar-background-color: $primary;
$navbar-dropdown-arrow: hsl(0, 0%, 100%);
$navbar-dropdown-background-color: $primary;
// form
$label-color: hsl(0, 0%, 100%);
// Section
$section-padding: 1rem 1.5rem;
// Title
$title-color: hsl(0, 0%, 100%);
$subtitle-color: hsl(0, 0%, 100%);
$subtitle-strong-color: hsl(0, 0%, 100%);
// Card
$card-media-margin: 0;
$card-content-padding: 0.5rem;

@import "~bulma/bulma.sass";

html {
  background-color: $primary;
}

body {
  font-family: "M PLUS 1p";
}

button {
  font-family: "dnp-shuei-mgothic-std", "sans-serif";
  letter-spacing: .1em;
}